input[type = "text"]{
    padding: 10px;
    border-radius: 5px;
    border: none;
}

input[type="submit"]{
    padding : 10px;
    background-color: green;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}
input[type="submit"]:hover {
    background-color: #0f350ff0 ;
    }
    h2{
        color :aliceblue;
        
        
        
    }
.row{
    padding: 10px;
    text-align: center;
    
}
.box{
    background-color: grey;
    width: 500px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 200px;
}